name: Lint

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  lint_python:
    name: Lint Python
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Hatch
        run: pip install hatch

      - name: Lint
        run: hatch run lint:all

  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
